<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple File Upload</title>

          <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

  </head>
  <body>
  <ul>

    <li>
      <a href="{% url 'model_form_upload' %}">Upload file</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <table>
  <tr>
      <td>File</td>
      <td>Metadata</td>
  </tr>
    {% for obj in documents %}
      <tr>
        <td><a href="{{ obj.document.url }}">{{ obj.filename }}</a></td>
        <td><small>(Uploaded at: {{ obj.date_created }})</small></td>
      </tr>
    {% endfor %}
  </table>

  </body>
</html>

